{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1> Witaj na stronie ogłoszen Wersja BETA ;D</h1>
        </div>
        <div class="panel-body">
            <div class="row">

                {% for item in data %}
                <div class="col-md-12 col-lg-12" align="left">
                    <h5><b>Email:</b> {{item[0]}}</h5>
                </div>
                <div class="col-md-12 col-lg-12">
                    <h5><b>Tyutuł:</b> {{item[1]}}</h5>
                </div>
                <div class="col-md-12 col-lg-12">
                    <h5><b>Treść:</b> {{item[2]}}</h5>
                </div>
                  {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}